<app-loading-indicator *ngIf="!isDataLoaded"></app-loading-indicator>
<div *ngIf="isDataLoaded">
    <table mat-table [dataSource]="pageData" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nazwa</th>
            <td mat-cell *matCellDef="let planet">{{planet.name}}</td>
        </ng-container>
        <ng-container matColumnDef="climate">
            <th mat-header-cell *matHeaderCellDef>Klimat</th>
            <td mat-cell *matCellDef="let planet">{{planet.climate}}</td>
        </ng-container>
        <ng-container matColumnDef="gravity">
            <th mat-header-cell *matHeaderCellDef>Grawitacja</th>
            <td mat-cell *matCellDef="let planet">{{planet.gravity}}</td>
        </ng-container>
        <ng-container matColumnDef="population">
            <th mat-header-cell *matHeaderCellDef>Populacja</th>
            <td mat-cell *matCellDef="let planet">{{planet.population}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displyedColumns"></tr>
        <tr class="table-row" mat-row *matRowDef="let row; columns: displyedColumns;" (click) = "goToDetails(row)"></tr>
    </table>
    <mat-paginator [length]="60"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="loadPageData($event)">
    </mat-paginator>
</div>
