.planet_name {
    font-size: 300%;
    font-weight: 100;
}

.planet_name::after {
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    content: '';
}

.card {
    width: 100%;
    height: 100%;    
    margin: 0 10px;
}

.tile:nth-of-type(3){
    margin-top: calc(25% + 20px) !important;
}


.title {
    text-align: center;
    display: block;
    text-transform: uppercase;   
}

.title h2 {
    font-weight: 100;
}