<h1 class="planet_name">{{planetName}}</h1>
<div class='details_container'>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Details">
            <app-loading-indicator *ngIf="!details.isLoaded"></app-loading-indicator>
            <mat-list *ngIf="details.isLoaded" role="list">
                <ng-container *ngFor="let detail of details.data | keyvalue">
                    <mat-list-item role="listitem" class="list_item">
                        <div class='list_item_content'>
                            <p class='category'>{{detail.key}}:</p>
                            <p>{{detail.value}}</p>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </ng-container>
            </mat-list>
        </mat-tab>
        
        <mat-tab label="Residents">
            <app-loading-indicator *ngIf="!residents.isLoaded"></app-loading-indicator>
            <mat-list *ngIf="residents.isLoaded" role="list">
                <ng-container *ngFor="let item of residents.data">
                    <mat-list-item role="listitem" >
                        <p class='list_item_content'>{{item.name}}</p>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                </ng-container>
            </mat-list>
        </mat-tab>

        <mat-tab label="Films">
            <app-loading-indicator *ngIf="!films.isLoaded"></app-loading-indicator>
            <mat-list *ngIf="films.isLoaded" role="list">
                <ng-container *ngFor="let item of films.data">
                    <mat-list-item role="listitem" >
                        <p class='list_item_content'>{{item.title}}</p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </ng-container>
            </mat-list>
        </mat-tab>
    </mat-tab-group>
</div>

