<h1 class="planet_name">NAME</h1>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class='tile' *ngFor="let tile of tiles">
        <mat-card class='card'>
            <mat-card-header class='title'><h2>{{tile.title}}</h2></mat-card-header>
            <mat-card-content>
                <mat-list role="list">
                    <mat-list-item role="listitem" *ngFor="let item of tile.data">{{item}}</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

   

