.planet_name {
    font-size: 300%;
    font-weight: 100;
}

.planet_name::after {
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    content: '';
}

.list_item {
    margin: 15px 0 ;
}

.list_item_content{
    font-style: italic;
    width:300px;
    font-weight: 100;
    font-size: 135%;
}

.category {
    font-style: italic;
    font-size: 65%;
}

.details_container {
    width: 80%;
    margin: 0 auto;
}